# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Expo prebuild natijasi (kerak bo'lsa qayta yaratiladi)
/android
/ios
.expo-shared/

# EAS
eas-build-*.log

# Claude Code mahalliy sozlamalari
.claude/

# Yig'ilgan APK fayllar
*.apk
